@media only screen and (max-width:700px) {
	body{
		background: yellow;
	}
}

@media only screen and (max-width:500px) {

	div.wrapper{
		border: 0;
	}

    div.wrapper > aside{
        display: none;
    }

    section.contenido{
        width: 100%;
    }

    header{
        text-align: center;
    }

    section.contenido article img{
        display: block;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    nav ul li{
        width: 49%;
        margin-bottom: 1em;
    }


    nav ul li+li:before{
        content: ''
    }

}
