html{
    font-size: 100%;
}

body{
    font-size: 16px;
}

*{
    border: 1px solid black;
}

h1{
    text-align: center;
    font-size: 3rem;
}

#logotipo{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    background-color: #ccc;
}


/* Estilos para la vista home */
div.home #logotipo{
    width: 400px;
}

div.home article{
    margin-top: 50px;
    font-size: 1.2em;
    background-color: rgb(50, 50, 50);
    background-color: rgba(50, 50, 50, .5);
    background-image: url('http://lorempixel.com/100/100/');
    background-position: center center;
    background-repeat: no-repeat;
    padding: 2em;
}

div.home article p{
    font-size: 1.2rem;
}

div.home article:first-of-type{
    margin-top: 0px;
}

/* Fin de los estilos para la vista home */

/* Estilos para la vista detalle-articulo */
div.detalle-articulo #logotipo{
    width: 200px;
    display: inline;
}

div.detalle-articulo h1{
    display: inline;
}

div.detalle-articulo figure{
    display: inline;
}

div.detalle-articulo section.galeria{
    background-color: #c9ccc7;
    padding: 20px;
}

div.detalle-articulo section.galeria img{
    border: 1px solid black;
    padding: 10px;
    padding-bottom: 50px;
    background-color: white;
    margin: 15px;
}

div.detalle-articulo section.galeria img:nth-child(3){
    background-color: yellow;
}

div.circulo{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: 2em auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-width: 5px;
    border-color: red;
}

div.cuadrado{
    width: 200px;
    height: 200px;
    padding: 2em;
    margin: 2em auto;
    background-color: pink;
}


/* Fin de los estilos para la vista detalle-articulo */














