html{
    font-size: 100%;
}

body{
    font-size: 16px;
}

h1{
    text-align: center;
    font-size: 3rem;
}

#logotipo{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}


/* Estilos para la vista home */
div.home #logotipo{
    width: 400px;
}

div.home article{
    margin-top: 50px;
    font-size: 1.2em;
}

div.home article p{
    font-size: 1.2rem;
}



div.home article:first-of-type{
    margin-top: 0px;
}



/* Fin de los estilos para la vista home */


/* Estilos para la vista detalle-articulo */
div.detalle-articulo #logotipo{
    width: 200px;
    display: inline;
}

div.detalle-articulo h1{
    display: inline;
}

div.detalle-articulo figure{
    display: inline;
}

div.detalle-articulo section.galeria{
    background-color: #c9ccc7;
    padding: 20px;
}

div.detalle-articulo section.galeria img{
    border: 1px solid black;
    padding: 10px;
    padding-bottom: 50px;
    background-color: white;
    margin: 15px;
}

div.detalle-articulo section.galeria img:nth-child(3){
    background-color: yellow;
}

/* Fin de los estilos para la vista detalle-articulo */














