<!DOCTYPE html>
 <html lang="es">
 <head>
     <meta charset="UTF-8">
     <title>IES Miravent</title>
 </head>
 <body>

    <div class="wrapper">
        
        <header>
            <h1>IES Miravent</h1>
            <figure>
                <figcaption>Logotipo del Ies miravent</figcaption>
                <img src="http://lorempixel.com/g/400/200/" alt="">
            </figure>
            <nav>
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Correo</a></li>
                    <li><a href="">Plataforma</a></li>
                    <li><a href="">Séneca</a></li>
                    <li><a href="">Séneca Móvil</a></li>
                    <li><a href="">CEP Huelva</a></li>
                </ul>
            </nav>
        </header>
        
        <section class="content">
            
            <section class="left">
                <h3>Nuestro Centro</h3>
                <ul>
                    <li><a href="">Enlace 1</a></li>
                    <li><a href="">Enlace 2</a></li>
                    <li><a href="">Enlace 3</a></li>
                    <li><a href="">Enlace 4</a></li>
                </ul>

                <h3>Nuestro Centro</h3>
                <ul>
                    <li><a href="">Enlace 1</a></li>
                    <li><a href="">Enlace 2</a></li>
                    <li><a href="">Enlace 3</a></li>
                    <li><a href="">Enlace 4</a></li>
                </ul>
            </section>

            <section class="center">
                <article>
                    <header>
                        <h2>Titulo de la noticia 1</h2>
                    </header>
                    <img src="http://lorempixel.com/g/400/200/" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, eius, aliquam. Aperiam illum obcaecati praesentium delectus quaerat eveniet, veniam voluptate deserunt reprehenderit similique magnam earum autem veritatis corrupti vitae animi.</p>
                    <footer>Fecha de publicación: 12-12-12</footer>
                </article>
                <article>
                    <header>
                        <h2>Titulo de la noticia 2</h2>
                    </header>
                    <img src="http://lorempixel.com/g/400/200/" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, eius, aliquam. Aperiam illum obcaecati praesentium delectus quaerat eveniet, veniam voluptate deserunt reprehenderit similique magnam earum autem veritatis corrupti vitae animi.</p>
                    <footer>Fecha de publicación: 12-12-12</footer>
                </article>
            </section>

            <section class="right">
                <h3>Nuestro Centro</h3>
                <ul>
                    <li><a href="">Enlace 1</a></li>
                    <li><a href="">Enlace 2</a></li>
                    <li><a href="">Enlace 3</a></li>
                    <li><a href="">Enlace 4</a></li>
                </ul>

                <h3>Nuestro Centro</h3>
                <ul>
                    <li><a href="">Enlace 1</a></li>
                    <li><a href="">Enlace 2</a></li>
                    <li><a href="">Enlace 3</a></li>
                    <li><a href="">Enlace 4</a></li>
                </ul>            
            </section>

        </section>

        <footer>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </footer>

    </div>
     
 </body>
 </html> 